@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital@0;1&display=swap');

@import "zeroing.scss";

@mixin fontz($fs, $fw, $fc) {
    font-size: $fs;
    font-weight: $fw;
    color: $fc;
}

%container-title {
    padding-bottom: 12px;
    line-height: 28px;
    letter-spacing: 2.3px;
    @include fontz(38px, 700, #000000);
    text-transform: uppercase;
}

%container-subtitle {
    line-height: 28px;
    letter-spacing: 1.1px;
    @include fontz(18px, 400, #000000);
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
}

body {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

.header {
    padding: 43px 0 90px;
    text-align: center;
    background-color: #EFF0F2;


    .header__container {
        position: relative;
        max-width: 1440px;
        margin: 0 auto;
    }

    .header__logo {
        width: 270.5px;
        margin-bottom: 90px;

    }

    .header__link {
        position: absolute;
        right: 59px;
        line-height: 28px;
        letter-spacing: 2.16px;
        @include fontz(18px, 400, #000000);
        text-decoration: underline;

        &:hover {
            color: #616161;
        }

        &:active {
            color: #888888;
        }
    }

    .header__title {
        margin-bottom: 60px;
        line-height: 70px;
        letter-spacing: 2.7px;
        @include fontz(45px, 700, #505050);
        white-space: nowrap;

        & span {
            padding: 2.5px 7.5px;
            background-color: #68478D;
            color: #ffffff;
        }
    }

    .header__button {
        width: 232px;
        height: 53px;
        margin: 0 auto 90px;
        border: 2px solid #00000080;
        border-radius: 2;
        line-height: 28px;
        @include fontz(18px, 400, #000000);
        background-color: #00000000;

        &:hover {
            background-color: #DBDBDB;
        }

        &:active {
            background-color: #686868;
        }

    }

    .header__logos {
        display: flex;
        justify-content: space-around;

        & img {
            width: 163px;
            height: 90px;
        }
    }
}

.about-us {
    padding: 129px 0 50px;
    text-align: center;
    background-color: #F8FAFA;

    .about-us__container {
        position: relative;
        max-width: 1440px;
        margin: 0 auto;
    }

    .about-us__title {
        @extend %container-title;
    }

    .about-us__subtitle {
        @extend %container-subtitle;
    }

    .about-us__image {
        width: 75%;
        padding: 70px 0;
    }

    .about-us__texts {
        width: 75%;
        margin: 0 auto;
        text-align: left;
    }

    .about-us__text:last-child {
        width: 50%;
        padding-top: 85px;
        margin-left: 50%;
    }

    .about-us__text h3 {
        line-height: 28px;
        letter-spacing: 1.2px;
        @include fontz(20px, 700, #000000);
        text-transform: uppercase;
    }

    .about-us__text p {
        padding-top: 17px;
        line-height: 28px;
        letter-spacing: 0.8px;
        @include fontz(16px, 400, #000000);
    }
}

.works {
    padding: 123px 0 122px;
    text-align: center;
    background-color: #ffffff;

    .works__container {
        position: relative;
        max-width: 1440px;
        margin: 0 auto;
    }

    .works__title {
        @extend %container-title;
    }

    .works__subtitle {
        @extend %container-subtitle;
    }

    .works__gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 114px;
    }

    .works__card {
        margin: 7.5px;

        & a img {
            width: 370px;
            height: 359px;
        }
    }
}

.team {
    padding: 99px 0 171px;
    text-align: center;
    background-color: #EFF0F2;

    .team__container {
        position: relative;
        max-width: 1440px;
        margin: 0 auto;
    }

    .team__title {
        @extend %container-title;
    }

    .team__subtitle {
        @extend %container-subtitle;
    }

    .team__gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 114px;
    }

    .team__pop-up-card {
        display: none;
        position: absolute;
        top: 174px;
        left: 35px;
        width: 300px;
        min-height: 172px;
        max-height: 246px;
        border: 1px solid #000000;
        background-color: #EFF0F2;
        box-shadow: 2.700000047683716px 6.400000095367432px 16px 0px #1414152E;
    }

    .team__triangle {
        display: none;
        position: absolute;
        top: 155px;
        left: 55px;
        z-index: 1;
        width: 42px;
        height: 37px;
    }

    .team__name {
        padding: 30px 30px 20px;
        text-align: left;
        font-family: 'Merriweather', serif;
        @include fontz(20px, 700, #000000);
        line-height: 24px;
        letter-spacing: 1px;
        text-transform: uppercase;

        & span {
            letter-spacing: 0.45px;
            font-size: 15px;
            font-weight: 400;
            text-transform: none;
        }
    }

    .team__info {
        max-height: 72px;
        padding: 0 30px;
        letter-spacing: 0.16px;
        line-height: 24px;
        text-align: left;
        overflow: auto;
        font-family: 'Raleway', sans-serif;
        @include fontz(16px, 400, #000000);
    }

    .team__links {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 30px;

        & li {
            display: flex;
            width: 46px;
            height: 40px;

            & a {
                display: flex;
                flex: 1;
                align-items: center;
                justify-content: center;
            }

            &:hover {
                background-color: #6EEEE4;
            }

            &:active {
                background-color: #505050;
            }
        }
    }

    .team__card {
        position: relative;
        margin: 8px;

        &:hover {
            .team__pop-up-card {
                display: block;
            }

            .team__triangle {
                display: block;
            }
        }
    }

    .team__photo {
        width: 370px;
        height: 440px;
    }
}

.contact {
    padding: 140px 0 122px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-image: url("/resources/images/main/contact-us/contact-us-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .contact__inner {
        display: flex;
        justify-content: center;
        max-width: 1440px;
        margin: 0 auto;
    }

    .contact__form {
        width: 614px;
        padding: 32px;
        margin-right: 26px;
        background-color: rgba(0, 24, 113, 0.71);
    }

    .contact__info {
        padding: 0 22.5px;
        background-color: rgba(0, 24, 113, 0.71);
    }

    .contact__info-map {
        padding-bottom: 20px;

        & iframe {
            width: 455px;
            height: 224px;
        }
    }

    .contact__input {
        width: 100%;
        height: 30px;
        margin-bottom: 28px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        @include fontz(15px, 400, #ffffff);
        background-color: #00000000;

        &::placeholder {
            @include fontz(15px, 400, #ffffff);
        }

        &:focus {
            border-bottom: 1px solid #ffffff;

            &::placeholder {
                color: #ffffff80;
            }
        }
    }

    .contact__textarea {
        width: 100%;
        height: 105px;
        margin: 2px 0 38px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        resize: none;
        @include fontz(15px, 400, #ffffff);
        background-color: #00000000;

        &::placeholder {
            @include fontz(15px, 400, #ffffff);
        }

        &:focus {
            border-bottom: 1px solid #ffffff;

            &::placeholder {
                color: #ffffff80;
            }
        }
    }

    .contact__button {
        display: block;
        width: 244px;
        height: 53px;
        border: none;
        line-height: 28px;
        letter-spacing: 2.16px;
        font-family: 'Montserrat', sans-serif;
        @include fontz(18px, 400, #000000);
        background-color: #6EEEE4;

        &:hover {
            background-color: #B3FEF8;
        }

        &:active {
            background-color: #67CCC4;
        }
    }

    .contact__info-text {
        padding: 36px 0 33px;
        text-align: left;
        line-height: 24px;
        @include fontz(15px, 400, #ffffff);
    }
}

.footer {
    padding: 40px 0 20px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-color: #68478D;

    .footer__title {
        padding-bottom: 20px;
        line-height: 19.5px;
        letter-spacing: 0.16px;
        @include fontz(16px, 400, #ffffff);
    }

    .footer__links {
        display: flex;
        justify-content: center;
        padding-bottom: 40px;

        & li {
            display: flex;
            width: 46px;
            height: 40px;
            margin: 0 3.5px;

            & a {
                flex: 1 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(80, 80, 80, 0.4);
                opacity: 70%;

                & svg {
                    fill: #ffffff;
                }

                &:hover {
                    opacity: 100%;
                    background-color: #6EEEE4;

                    & svg {
                        fill: #000000;
                    }
                }

                &:active {
                    opacity: 100%;

                    & svg {
                        fill: #ffffff;
                    }
                }
            }
        }
    }

    .footer__copyright {
        margin: 0;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.5px;
        letter-spacing: 0.16px;
        color: #ffffff;
    }
}

@media screen and (max-width: 991px) {
    .header {
        padding: 20px 20px 40px;

        .header__container {
            max-width: 768px;
        }

        .header__link {
            right: 0;
            visibility: hidden;
            font-size: 0;
        }

        .header__link::after {
            content: "ADMIN";
            visibility: visible;
            font-size: 18px;

        }

        .header__logo {
            width: 180px;
            height: 100px;
            margin-bottom: 30px;
        }

        .header__logos {
            display: none;
        }

        .header__button {
            margin: 0;
            width: 100%;
            height: 60px;
            max-width: 232px;
        }
    }

    .about-us {
        padding: 40px 20px;

        .about-us__container {
            max-width: 768px;
        }

        .about-us__image {
            width: 100%;
            padding: 20px 0 30px;
        }

        .about-us__texts {
            width: 100%;
            margin: 0 auto;
        }

        .about-us__text:last-child {
            width: 100%;
            padding-top: 30px;
            margin: 0;
        }

        
    }

    .works {
        padding: 40px 20px;

        .works__container {
            max-width: 768px;
        }

        .works__gallery {
            padding-top: 40px;
            gap: 40px;
        }

        .works__card {
            margin: 0;

            & a img {
                width: 100%;
                height: 100%;
                max-width: 320px;
            }
        }
    }

    .team {
        padding: 40px 20px 0;

        .team__container {
            max-width: 768px;
        }

        .team__gallery {
            padding: 30px 0 40px;
            gap: 40px;
        }

        .team__pop-up-card {
            top: 120px;
            left: 0;
            margin: 0 10px;
            width: 100%;
            max-width: 300px;
            min-height: 172px;
            max-height: 240px;
        }

        .team__triangle {
            top: 102px;
            left: 30px;
        }

        .team__name {
            padding: 30px 20px 0;
            letter-spacing: 0.6px;
        }

        .team__info {
            padding: 0 20px;
            margin: 20px 0 30px;
        }

        .team__links {
            justify-content: space-around;
            padding: 0 0 20px 0;
        }

        .team__card {
            margin: 0;
        }

        .team__photo {
            width: 100%;
            height: 100%;
            max-width: 320px;
            border: 1px solid #000000;
        }
    }

    .contact {
        padding: 40px 20px;
        background: #ffffff;

        .contact__inner {
            flex-direction: column;
            max-width: 768px;
        }

        .contact__form {
            width: 100%;
            padding: 20px 20px 50px;
            margin: 0 0 40px;
        }

        .contact__info {
            padding: 20px 0 0;
        }

        .contact__info-text {
            padding: 0 20px 20px;
        }

        .contact__info-map {
            padding: 0;
            height: 250px;

            & iframe {
                width: 100%;
                height: 250px;
            }
        }

        .contact__textarea {
            height: 100px;
            margin: 0 0 50px;
        }

        .contact__button {
            width: 100%;
            max-width: 244px;
            height: 50px;
            margin: auto;
        }
    }

    .footer {
        padding: 30px 0;

        .footer__title {
            padding-bottom: 20px;
            line-height: 20px;
        }

    }
}

@media screen and (max-width: 576px) {
    .header {
        .header__title {
            margin-bottom: 30px;
            line-height: 43px;
            letter-spacing: 2.7px;
            @include fontz(20px, 700, #505050);
            white-space: nowrap;

            & span {
                line-height: 25px;
                padding: 9px 34px;
                background-color: #68478D;
                color: #ffffff;
            }
        }
    }

    .about-us {
        .about-us__title {
            padding-bottom: 10px;
            font-size: 20px;
        }

        .about-us__subtitle {
            font-size: 14px;
        }

        .about-us__text h3 {
            font-size: 14px;
        }

        .about-us__text p {
            padding-top: 12px;
            line-height: 17px;
            font-size: 14px;
        }
    }

    .works {
        .works__title {
            padding-bottom: 10px;
            font-size: 20px;
        }

        .works__subtitle {
            font-size: 14px;
            line-height: 17px;
        }
    }

    .team {
        .team__title {
            padding-bottom: 10px;
            font-size: 20px;
        }

        .team__subtitle {
            font-size: 14px;
            line-height: 17px;
        }
    }
}